/*clain receive page*/
input.cl-r-inp.default{
    flex-wrap: nowrap;
    width: 30%;
}
@media screen and (max-width: 1000px){
    input.cl-r-inp.default{
        width: 65% !important;
    }
}

/*Your Transfer Fee Account Balance page*/
.transf-fee-bal{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.transf-fee-bal .cont-fee{
    width: 45%;
}

@media screen and (max-width: 800px){
    .transf-fee-bal{
        flex-wrap: wrap;
    }
    .transf-fee-bal .cont-fee{
        width: 100%;
    }
    .text-fee-bal,
    .text-fee-bal b{
        font-size: 11px;
        font-weight: 200;
    }
}


/*transaction status page*/
input#transactionHashQuery{
    width: 50%;
}
@media screen and (max-width: 800px){
    input#transactionHashQuery{
        width: 100%;
    }
}

/*ADK / akADK Conversion Tool (on Aidos Network) page*/
.adk-to-akadk-container{
    display: flex;
    flex-wrap: wrap;
}
.adk-to-akadk-inner{
    width: 50%;
}

@media screen and (max-width: 850px){
    .adk-to-akadk-inner{
        width: 100%;
    }
    .adk-to-akadk-inner h4,
    .adk-to-akadk-inner label{
        font-size: 12px;
    }
    .adk-to-akadk-inner input{
        margin: 1em 0 !important;
    }
    .adk-to-akadk-inner .card center{
        margin:0 1em !important;
    }
}

@media screen and (max-width: 800px){
    .amountToTransfer-input-group{
        width: 100%;
        align-items: end;
        margin: 1em 0 !important;
    }
    label.lab-amountToTransfer{
        font-size: 13px !important;
    }
}