.nav.nav-tabs{
    display: flex;
    justify-content: space-between;
    border-bottom: 0;
}
.nav.nav-tabs .nav-link.active{
    font-weight: 500;
    background: var(--op-50);
    color: var(--white);
    border: none;
}
.nav.nav-tabs .nav-link{
    padding: .4em 1.2em;
    margin: .25em .4em .25em 0;
    border: none;
    font-weight: 200;
    color: var(--white-op-50);
    border-radius: .3em;
}
.nav.nav-tabs .nav-link:last-child{
    margin-right: 0;
}
.nav.nav-tabs .nav-link:hover{
    color: var(--white);
    background: var(--op-50);
    border: none;
}

/*tabcontent*/
.tab-content .container-tab{
    width: 100%;
}

.tab-content .card{
    padding: 2em;
    background: var(--op-50);
    border: none;
    color: var(--white-op-80);
}

.tab-content ul,
.tab-content ol{
    padding-left: .5rem !important;
}
.tab-content ul button.blue-but{
    margin-top: .8em;
}

.tab-content .card p,
.tab-content .card li,
.tab-content .card a{
    font-size: 13px;
    font-weight: 200;
    color: var(--white);
}
.tab-content .card ul{
    list-style: inside;
}

ul.sup-token-ul{
    list-style: none !important;
}
ul.sup-token-ul li{
    margin-bottom: 1em;
}
ul.sup-token-ul li b{
    border-radius: .25em;
    padding: .2em .5em;
    background-color: var(--white-op-10);
}

@media screen and (max-width: 1200px){
    .nav.nav-tabs{
        justify-content: left;
    }
    .tab-content .card{
        padding: .5em;
    }
    .tab-content .card p,
    .tab-content .card li,
    .tab-content .card a,
    .nav.nav-tabs .nav-link{
        font-size: 12px;
    }
}
@media screen and (max-width: 600px){
    .tab-content .card p,
    .tab-content .card li,
    .tab-content .card a,
    .nav.nav-tabs .nav-link{
        font-size: 11px;
    }
}